<%- include(`${partialsPath}/head`, {
	description: 'JW Player web demos',
	title: 'JW Player web demos',
	isIndex: true
}); %>
<div class="container">
	<ul>
		<% configs.forEach(c => { %><li><a href="<%= c.slug %>/"><%= c.title %></a></li><% }); %>
	</ul>
</div>
<%- include(`${partialsPath}/footer`, { isIndex: true }); -%>
