<ul class="demo-index-nav">
  {{#categories}}
    <li><a href="../{{#directory}}{{directory}}{{/directory}}" {{#current}} class="selected"{{/current}}>{{name}}</a></li>
  {{/categories}}
</ul>

<select class="demo-index-nav-select">
  {{#categories}}
    <option {{#current}}selected="selected"{{/current}} value="{{#directory}}{{directory}}{{/directory}}">{{name}}</option>
  {{/categories}}
</select>
