.container {
	display: flex;
	flex-direction: row;
}

.left {
	width: 50%;
}

.button {
  margin: 0 0 1em;
}

.button-theme-brand-2:not(.button-toggle-on) {
  background: #DFF1FF;
  color: #0E7EF4;
}

.button-theme-brand-2:not(.button-toggle-on):hover {
  background: #B1DEFF;
}

.description {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ccc;
}

.content {
	padding: 0.5em;
}

.input-group {
	background: #DFF1FF;
	margin: 1rem auto 0;
	max-width: 80%;
}

.input-group label {
	width: 45%;
	color: #0E7EF4;
}

.input-group input {
	width: 50%;
	margin-bottom: 10px;
}

.content button {
	margin: 10px auto 0;
}

.body-toggle {
	display: none;
	max-width: 90%;
	margin: 0 auto;
}

.body-toggle-on {
	display: block;
}

.codeBlock {
	border-top: 1px solid #ccc;
}

.code-toggle {
	display: none;
}

.code-toggle-on {
	display: block;
}

.playerContainer {
	width: 50%;
}