.hotspots-player {
	display: flex;
	justify-content: center;
	position: relative;
	min-width: 720px;
}

#hotspots {
	height: 405px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	pointer-events: none;
	position: absolute;
	width: 720px;
	z-index: 99;
}

#hotspots span {
	background: url("assets/spot.png") 50% 50% no-repeat;
	cursor: pointer;
	height: 40px;
	opacity: 0.5;
	pointer-events: auto;
	position: absolute;
	transform: scale(0, 0);
	transition: 0.2s;
	width: 40px;
}
