/*
overrides for developer site defaults (for presentation only, non-demo styles)
*/

.demo-single .demo-layout-content .jwplayer {
	margin: 40px 0;
	border: 1px solid #ccc;

}

.demo-layout-content {
	text-align: left;
}

.demo-single .demo-layout-content h1 {
	font-size: 56px;
	font-weight: 500;
}

.demo-single .demo-layout-content h2 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 20px;
}

.demo-single .demo-layout-content p,
.demo-single .demo-layout-content p + p {
	margin-top: 20px;
}

.demo-single .demo-layout-vertical .demo-layout-code {
	max-width: 900px;
	width: 100%;
}
