.player-options {
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 480px;
	margin: 0 auto;
	padding: 1em 0 2em;
	width: 100%;
}

.options-row {
	margin: 0 1em;
}

.player-options label {
	color: #000;
}

.explanation {
	background-color: #475470;
	max-width: 480px;
	margin: 0 auto 35px;
	padding: 10px;
	color: #fff;
}

.explanation > span {
	font-weight: bold;
}

#setupPlayerButton {
	cursor: pointer;
}

.ad-rules-link {
	margin-top: 35px;
}
