#streamroot-demo-holder .simulate {
  font-size: 1rem;
  padding: 8px 15px; }

#streamroot-demo-holder hr {
  margin: 0.75rem 0 0.5rem; }

#streamroot-demo-holder #demoplayer {
  width: 100% !important; }

#streamroot-demo-holder .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next {
  display: none; }

#streamroot-demo-holder .highcharts-axis-labels.highcharts-yaxis-labels text, #streamroot-demo-holder .highcharts-axis-labels.highcharts-yaxis-labels tspan {
  fill: #a1aeb9 !important;
  color: #a1aeb9 !important;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2px;
  font-family: "Source Sans Pro", sans-serif; }

#streamroot-demo-holder #usageMetricsComponent {
  text-align: center;
  display: flex;
  justify-content: space-between; }
  #streamroot-demo-holder #usageMetricsComponent > div {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px; }
    #streamroot-demo-holder #usageMetricsComponent > div span {
      font-size: 14px; }
    #streamroot-demo-holder #usageMetricsComponent > div:nth-child(1) {
      color: #12A5ED; }
    #streamroot-demo-holder #usageMetricsComponent > div:nth-child(2) {
      color: #C42151; }
    #streamroot-demo-holder #usageMetricsComponent > div:nth-child(3) {
      color: #FFBF10; }

#streamroot-demo-holder #peerCountComponent {
  margin-right: 30px;
  padding: 20px 30px 25px 10px !important; }
  #streamroot-demo-holder #peerCountComponent svg {
    display: none; }
  #streamroot-demo-holder #peerCountComponent #peerCountNumber {
    font-family: "AltGotNo3D", "Source Sans Pro", sans-serif;
    font-size: 44px !important;
    position: relative;
    top: -6px; }
    #streamroot-demo-holder #peerCountComponent #peerCountNumber small {
      position: relative;
      top: 8px;
      font-size: 18px !important; }

#streamroot-demo-holder #dnaPercentageComponent {
  font-size: 7.5rem !important; }
  #streamroot-demo-holder #dnaPercentageComponent #dnaPercentageLabel {
    top: 27% !important;
    font-size: 44px !important;
    font-family: "AltGotNo3D", "Source Sans Pro", sans-serif !important; }
    #streamroot-demo-holder #dnaPercentageComponent #dnaPercentageLabel #dnaPercentageOffload {
      position: relative;
      top: -4px; }

#streamroot-demo-holder #warning-not-compatible {
  display: none;
  border: 1px solid #C42151;
  padding: 10px; }
  #streamroot-demo-holder #warning-not-compatible p {
    color: #C42151;
    margin: 0; }

#streamroot-demo-holder p {
  margin-bottom: 1.5em;
  line-height: 1.8em;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  color: #0A3758;
  letter-spacing: normal; }

#streamroot-demo-holder h2 {
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  color: #0A3758;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

#streamroot-demo-holder ul, #streamroot-demo-holder ol {
  margin: 0 0 1.5em 0;
  color: #0A3758;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.8em;
  font-weight: normal;
  color: #0a3758;
  letter-spacing: normal; }
  #streamroot-demo-holder ul li, #streamroot-demo-holder ol li {
    font-size: 1em;
    margin-bottom: 0.2rem;
    color: #0A3758; }

#streamroot-demo-holder a {
  color: #12A5ED;
  border-color: #12A5ED;
  transition: all 200ms linear;
  text-decoration: none;
  outline: 0; }

#streamroot-demo-holder .text-right {
  text-align: right; }

#streamroot-demo-holder .button-blue {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 0.8em 1.5em;
  outline: none;
  border: 0px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  transition: all 300ms linear; }
  #streamroot-demo-holder .button-blue, #streamroot-demo-holder .button-blue:visited, #streamroot-demo-holder .button-blue:active, #streamroot-demo-holder .button-blue:focus {
    background: #12A5ED;
    color: #FFF; }
    #streamroot-demo-holder .button-blue:hover, #streamroot-demo-holder .button-blue:visited:hover, #streamroot-demo-holder .button-blue:active:hover, #streamroot-demo-holder .button-blue:focus:hover {
      color: #FFF;
      background: #119bdf; }

#streamroot-demo-holder .container {
  display: block;
  margin: 30px auto;
  padding: 0 20px 10px;
  max-width: 1000px; }
  #streamroot-demo-holder .container .content-holder {
    text-align: center; }
    #streamroot-demo-holder .container .content-holder .video, #streamroot-demo-holder .container .content-holder .graphs {
      overflow: hidden;
      display: inline-block;
      width: 49%;
      margin: 5px 0 10px; }
      @media (max-width: 991.98px) {
        #streamroot-demo-holder .container .content-holder .video, #streamroot-demo-holder .container .content-holder .graphs {
          margin: 20px 0;
          width: 100%; } }
      #streamroot-demo-holder .container .content-holder .video #streamroot-graphs-demo > div > p, #streamroot-demo-holder .container .content-holder .graphs #streamroot-graphs-demo > div > p {
        display: none; }
    #streamroot-demo-holder .container .content-holder .graphs {
      display: none; }

#streamroot-demo-holder ul li {
  list-style: none;
}
